// Colours vars
:root {
    --background-colour: #9fb8f0;
    --red: #dc3545;
    --green: #28a745;
    --blue: #007bff;
    --navTextForeground: #111;
}

body {
    background: var(--background-colour);
    padding: 1em 0em;
}

.nav.nav-pills { 
    margin-top:1em;
    a { 
        color: var(--navTextForeground);
    }
}

a.btn > svg,
a.nav-link > svg { 
    width: 24px; 
    height: 24px;
    margin-right:0.5em;
}
