// Colours vars
:root {
  --red: #dc3545;
  --green: #28a745;
  --blue: #007bff;
  --blue-pale: #9fb8f0;
  --purple: #563d7c;
  --white: #ffffff;
  --grey: #e3e8ea;
  --grey-light: #f5f7f7;
  --grey-medium: #ccc;
  --grey-twitter: #657786;
  --grey-twitter-border: #e6ecf0;
  --grey-twitter-hover: #f5f8fa;
  --email-read: #dedede;
  --email-hover: #e0efff;
  --black: #111111;
  --choicebutton-disabled: var(--grey-medium);
  --choicebutton-selected: var(--purple);
  --background-colour: var(--blue-pale);
  --navTextForeground: var(--black);
}

body {
  background-color: var(--black);
}

.nav.nav-pills {
  margin-top: 1em;
  a {
    color: var(--navTextForeground);
  }
  .nav-link {
    transition: all 0.2s;
    svg {
      transition: all 0.2s;
    }
    &:hover {
      color: var(--navTextForeground);
      background-color: var(--grey-light);
      svg {
        color: var(--blue);
      }
    }
    &:focus {
      background-color: var(--blue);
      color: var(--white);
      text-decoration: underline;
      svg {
        color: var(--white);
      }
    }
  }
}
