:root {
  --navHeight: 3.5em;
  --mobileNavHeight: 4em;
}

nav.navbar {
  height: var(--navHeight);
}

.desktop {
  background-color: var(--background-colour);
  height: calc(100vh - var(--navHeight));
  padding: 1rem;
  overflow-y: auto;
}

@media (max-width: 767px) {
  .desktop {
    height: calc(100vh - var(--mobileNavHeight) - var(--navHeight));
  }
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
}

.mobile-nav-icon {
  width: 24px;
  height: 24px;
}

.badge {
  background-color: var(--red);
  color: var(--white);
  margin-left: 5px;

  &.badge-mobile {
    font-size: 1rem;
    left: 70%;
    margin: 0;
    padding: 5px;
    position: absolute;
    top: -10px;
  }
  &.need-attention { 
    background-color: var(--blue);
    border-color: white;
    border-width: 2px;
    border-style: solid;
    animation: bounce 4s ease-out;
    animation-iteration-count: infinite;
  }
}
.nav-link.active { 
  .need-attention {
    background-color: white;
    color: var(--blue);
    animation: none;
  }
}

@keyframes bounce { 
  0%, 10%, 25%, 40%, 50% { transform: translateY(0);} 
  20% {transform: translateY(-3px);} 
  30% {transform: translateY(-2px);} 
} 

.mobile-nav {
  display: flex;
  background-color: var(--white);
  height: var(--mobileNavHeight);
}

.mobile-nav-item {
  align-items: center;
  border-radius: 0px !important;
  display: flex;
  flex: 1 0 25%;
  flex-direction: column;
  font-size: 14px;
  padding: 10px 0;
  position: relative;
}

.desktop > .content {
  margin: 0 auto;
  padding-bottom: 5rem;
}

.v-centred {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

  .sign-in {
    width: 100%;
    max-width: 500px;
    padding: 2em;
    margin: auto;
    background-color: var(--grey-light);
    border-radius: 5px;
    text-align: center;

    svg {
      width: 33%;
      color: var(--grey-twitter);
    }

    h1 {
      text-align: center;
    }
  }

  select {
    margin: 1em 0em;
  }
}

.debug-score {
  background:#eee;
  padding:1em;
  margin:1em;
  border-radius:1em;
}

.desktop .welcome {
  background-color: var(--white);
  color: var(--purple);
  padding: 1em;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  border-radius: 15px;
  line-height: 2em;
}

.desktop .desktopParagraph2 {
  color: var(--white);
  background-color: var(--purple);
  padding:0.5em;
  font-weight:bold;
}

.card-title {
  text-align: center;
  font-size: 1.5rem;
}

.team-logo {
  display: block;
  height: 160px;
  margin: auto;
  width: auto;
}

audio {
  max-width: 19em;
  margin: 0px auto;
  display: block;
  width: 100%;
  filter: sepia(100%);
}

.login-logo {
  max-height: 200px;
  width: auto;
}