.document {
  background-color: var(--white);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  svg {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }

  img {
    width: 100%;
    max-width: 20rem;
    margin: auto;
    padding: 1rem 2rem;
    filter: drop-shadow(0px 0px 5px var(--black));
  }

  .scores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0;
    max-width: 500px;
    padding: 0;
    width: 100%;
  }

  .content {
    ul {
      padding-inline-start: 1rem;

      li {
        margin-bottom: 1rem;
      }
    }
  }

  .card-body {
    ul {
      list-style: none;
    }
  }

  .info-list-item {
    align-items: center;
    font-weight: 700;
    margin-bottom: 1rem;

    .symbol {
      background-color: var(--grey-twitter);
      border-bottom-left-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      border: 2px solid var(--grey-twitter);
      color: var(--white);
      margin-left: auto;
      padding: 0.3rem;
      text-align: center;
      width: 3rem;
    }

    .value {
      border-bottom-right-radius: 0.5rem;
      border-left: 0;
      border-top-right-radius: 0.5rem;
      border: 2px solid var(--grey-twitter);
      margin-right: 1rem;
      padding: 0.3rem;
      text-align: center;
      width: 5rem;
    }
  }

  .lists {
    display: flex;
    flex-wrap: wrap;
  }

  .subheading {
    font-size: 1.25rem;
  }
}

.documents {
  .card {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
  }

  .card-title {
    align-items: center;
    color: var(--black);
    display: flex;
    font-size: 16px;
    justify-content: center;
    margin-top: 0.5rem;
    margin: 0;
    min-height: 4em;
    text-transform: capitalize;
  }

  .card-body {
    display: flex;
    min-height: 3rem;
    justify-content: center;
  }

  .card-footer {
    display: flex;
    justify-content: center;
  }
}

.new {
  position: absolute;
  left: -25px;
  top: 15px;
  font-size: 1.2rem;
  z-index: 1;
}

.doc-read {
  .new {
    display: none;
  }
}

.card-icon {
  width: 100%;
  filter: drop-shadow(0px 0px 5px var(--black));
}

@media (min-width: 767px) {
  .documents .card {
    margin: 0 2rem 2rem 2rem;
  }

  .documents .card-title {
    font-size: 1.2rem;
  }
}
