.document {
  background-color: var(--white);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  svg {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }

  img {
    width: 100%;
    max-width: 20rem;
    margin: auto;
    padding: 1rem 2rem;
    filter: drop-shadow(0px 0px 5px var(--black));
  }

  .content {
    ul {
      padding-inline-start: 1rem;

      li {
        margin-bottom: 1rem;
      }
    }
  }

  .card-body {
    ul {
      padding: 15px;
      list-style: none;
    }
  }

  .info-list-item {
    display: flex;
    margin-bottom: 1rem;
    font-weight: 700;

    .info-label {
      flex: 0 0 6rem;
    }

    .symbol {
      padding: 0.3rem;
      border: 2px solid var(--grey-twitter);
      flex: 0 0 3rem;
      text-align: center;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      background-color: var(--grey-twitter);
      color: var(--white);
    }

    .value {
      text-align: center;
      padding: 0.3rem;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      border: 2px solid var(--grey-twitter);
      border-left: 0;
      flex: 0 0 5rem;
    }
  }
}

.documents {
  .card {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .card-title {
    text-transform: capitalize;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    min-height: 4em;
    justify-content: center;
    margin-top: 0.5rem;
  }

  .card-body {
    display: flex;
    min-height: 3rem;
    justify-content: center;
  }

  .card-footer {
    display: flex;
    justify-content: center;
  }
}

.new {
  position: absolute;
  left: -25px;
  top: 15px;
  font-size: 1.2rem;
  z-index: 1;
}

.card.read {
  .new {
    display: none;
  }
}

.card-icon {
  width: 100%;
  filter: drop-shadow(0px 0px 5px var(--black));
}
