.document {
    background-color: var(--white);
    height: 100%;
    padding: 1em;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;

    svg { 
        width: 1rem;
        height:1rem;
        margin-right:0.5rem;
    }
}