.email-list {
  background-color: var(--grey-light);
  list-style: none;
  padding: 0;
}

.email-list-item {
  border-top: 1px solid var(--grey);
  display: block;

  &:last-of-type {
    border-bottom: 1px solid var(--grey);
  }

  a {
    align-items: center;
    color: var(--black);
    display: flex;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: var(--white);
      text-decoration: none;
    }
  }

  .email-info {
    display: flex;
    flex-direction: column-reverse;
  }

  h2 {
    font-size: 1rem;
    font-weight: 400;
  }

  p {
    font-weight: 700;
  }
}

.email-icon {
  align-items: center;
  color: var(--white);
  clip-path: circle(48% at center);
  display: flex;
  height: 2.5rem;
  justify-content: center;
  font-weight: 700;
  width: 2.5rem;

  &.red {
    background-color: var(--red);
  }

  &.green {
    background-color: var(--green);
  }

  &.blue {
    background-color: var(--blue);
  }
}

.email {
  background-color: var(--white);
}
