.email-list {
  background-color: var(--white);
  list-style: none;
  padding: 0;
}

.email-list-item.read {
  background-color: var(--email-read);

  .author {
    font-weight: normal;
  }

  .subject {
    font-weight: normal;
  }

  .new {
    display: none;
  }
}

.email-list-item {
  border-top: 1px solid var(--grey);
  display: block;

  &:last-of-type {
    border-bottom: 1px solid var(--grey);
  }

  a {
    align-items: center;
    color: var(--black);
    display: flex;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: var(--email-hover);
      text-decoration: none;
    }
  }
  
  .new {
    position: absolute;
    left: -10px;
    top: 6px;
    font-size: 0.95rem;
    z-index: 1;
  }

  .email-info {
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 1rem;
  }

  p.author {
    font-weight: 700;
  }

  .subject {
    font-weight: 700;
  }
}

.email-icon {
  align-items: center;
  color: var(--white);
  clip-path: circle(48% at center);
  display: flex;
  flex-shrink: 0;
  height: 2.5rem;
  justify-content: center;
  font-weight: 700;
  width: 2.5rem;

  &.jenny {
    background-color: var(--red);
  }

  &.charliebenn {
    background-color: var(--green);
  }

  &.dr\.lisafinnamore {
    background-color: var(--blue);
  }

  &.dr\.barrytaylor {
    background-color: var(--purple);
  }
}

.email {
  background-color: var(--white);

  .date {
    color: var(--grey-medium);
  }

  .button-choices {
    padding:2em;
    margin-top:2em;
    margin-bottom:2em;
    background: var(--grey);
    border-radius:5px;
  }

  svg {
    width: 1rem;
    height:1rem;
    margin-right:0.5rem;
  }
}
