.message {
  border-radius: 4px;
  background-color: var(--white);
  list-style: none;
  position: relative;
}

.message-from {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.al {
  border-top-left-radius: 0;

  &:after {
    content: '';
    position: absolute;
    border-right: 1rem solid var(--white);
    border-bottom: 1rem solid transparent;
    display: block;
    width: 0;
    z-index: 1;
    left: -1rem;
    top: 0;
  }
}

.player {
  border-top-right-radius: 0;

  &:after {
    content: '';
    position: absolute;
    border-left: 1rem solid var(--white);
    border-bottom: 1rem solid transparent;
    display: block;
    width: 0;
    z-index: 1;
    right: -1rem;
    top: 0;
  }
}

.choice-button {
  display: block;
  margin-top: 0.5rem;
  min-width: 75%;
  text-align: left;
}
