$timeToWait: 2s;

.message-list {
  list-style: none;
  li {
    @include clearfix;
    &:not(:last-child) {
      .typing-indicator {
        display: none !important;
        animation: none !important;
      }
      .message {
        animation: none !important;
      }
    }
  }
}

.typing-indicator {
  margin: 0 auto;
  position: relative;
  display: flex;
  span {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--white);
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    &:nth-child(1)
    {
        animation: 1s blink infinite .3333s;
    }
    &:nth-child(2)
    {
        animation: 1s blink infinite .6666s;
    }
    &:nth-child(3)
    {
        animation: 1s blink infinite .9999s;
    }
  }
  animation: hide-outof-view 0.1s ;
  animation-fill-mode: forwards;
  animation-delay: $timeToWait;
}

@keyframes blink
{
    50%
    {
        opacity: 1;
        transform: scale(1.2);
    }
}
@keyframes hide-outof-view {
  100% {
      opacity: 0;
  }
}

.message {
  border-radius: 4px;
  background-color: var(--white);
  position: relative;
  animation: slide-into-view 0.5s ease-out;
  animation-fill-mode: backwards;

  p:last-of-type {
    margin-bottom: 0;
  }
}

.message-list .message:nth-child(2n) {
  animation-delay: #{$timeToWait};
}

.message-list .message:nth-child(3n) {
  animation-delay: #{$timeToWait + 1};
}
.message-list .message:nth-child(4n) {
  animation-delay: #{$timeToWait + 2};
}

@keyframes slide-into-view {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.message-from {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.al {
  border-top-left-radius: 0;

  &:after {
    content: '';
    position: absolute;
    border-right: 1rem solid var(--white);
    border-bottom: 1rem solid transparent;
    display: block;
    width: 0;
    z-index: 1;
    left: -1rem;
    top: 0;
  }
}

.player {
  border-top-right-radius: 0;

  &:after {
    content: '';
    position: absolute;
    border-left: 1rem solid var(--white);
    border-bottom: 1rem solid transparent;
    display: block;
    width: 0;
    z-index: 1;
    right: -1rem;
    top: 0;
  }
}

.choice-button {
  display: block;
  margin-top: 0.5rem;
  min-width: 75%;
  text-align: left;
  &:not(.disabled):not(.active):hover {
    margin-left: 5px;
    &:before {
      content: '>';
    }
    &:after {
      content: '<';
    }
  }
  &.disabled {
    cursor: not-allowed;
    background-color: var(--choicebutton-disabled);
  }
  &.active {
    background-color: var(--choicebutton-selected);
    border-color: var(--choicebutton-selected);
    color: var(--white);
    cursor: not-allowed !important;
  }
  transition: all 0.5s;
  transition: margin-left 0.2s;
}

.checkbox-button {
  display: block;
  margin-top: 0.5rem;
  min-width: 75%;
  text-align: left;
  &:not(.disabled):not(.active):hover {
    background-color: var(--choicebutton-selected);
  }
  &.disabled {
    cursor: not-allowed;
    background-color: var(--choicebutton-disabled);
  }
  &.active {
    background-color: var(--choicebutton-selected);
    border-color: var(--choicebutton-selected);
    color: var(--white);
    &:before {
      content: '+';
    }
  }
  transition: all 0.5s;
  span {
    font-size: 1.2em;
    font-weight: 700;
    display: block;
  }
  span+span {
    font-size: 1em;
    font-weight: 500;
  }
}
