.video-container {
  height: 0px;
  padding-top: 56.25%;
  position: relative;

  .video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.intro-video {
  margin: auto;
  max-width: 800px;
}

.video-button-row {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 800px;

  a,
  button {
    width: 280px;
  }
}

@media (max-width: 767px) {
  .video-button-row {
    flex-direction: column;
    gap: 1rem;
  }
}
